body {
    /* background-image: url("https://cdn1.vectorstock.com/i/1000x1000/79/30/club-lights-background-spotlights-effect-vector-8827930.jpg"); */

    background: linear-gradient(to right, rgb(61, 60, 59), rgb(7, 7, 7));
}

#headingOne {
    background: none;
    background-color: white;
}
#headingTwo {
    background: none;
    background-color: white;
}
#headingThree {
    background: none;
    background-color: white;
}

.accordion-body {
    background: none;
    background-color: white;
}

#dust{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1
}