body{
    background: linear-gradient(to right, rgb(61, 60, 59), rgb(7, 7, 7));
}
li {
    list-style: none;
}

/* Start Display */
#start {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family:  'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 55px;
    color: whitesmoke; 
}

h2 {
    text-align: center;
    font-family: monospace;
    margin-left: 20px;
    font-size: 30px;
    color: whitesmoke;

}

#challenges {
    color: whitesmoke;
    font-family: monospace;
    text-align: center;
    font-size: 30px;
}

.container {
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; ;
    margin: auto;
    position: relative;
    width: 500px;
    height: 500px;
    color: whitesmoke;
}


button{
    font-family: monospace;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    margin-top: 3px;
    margin-left: 25px;
    padding: 10px;
}

/* Hide Display */
#game {
    display: none;
}

#result {
    display: none;
}

#endGame {
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
}
#timer{
    font-family: monospace;
    color:red;
    font-size: x-large;
    text-align: center;
    position: absolute;
    top: 30px;
    right: 45px;
}

#highScorePage{
    display: none;
    width: 50%;
    border-bottom-style: groove;
    padding-bottom: .3rem;
    margin: auto;
}
#highScoreCont{
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#highScore-header{
    display:flex;
    justify-content: space-around;
    border-bottom-style: outset;
    margin-bottom: .5rem;
}
#Score{
    float: right;
    padding-right: 0;
    margin-right: 60px;
}
  
#highScoreInitials{
    display: inline-block;
    margin-left: 60px;
}


#highScorePage{
    display: none;
}

#endChallenge{
    display: none;
}