body{
    background: linear-gradient(to right, rgb(61, 60, 59), rgb(7, 7, 7));
    /* background: linear-gradient(to right, rgb(61, 60, 59), rgb(7, 7, 7)); */
    background: linear-gradient(to right, rgb(1, 32, 27), rgb(7, 7, 7)); 
    /* font-family: 'Amatic SC', cursive; */
    font-family: 'Noto Sans KR', sans-serif;
    height: 800px;


}
li {
    list-style: none;
}

#modalPopUp{
    display: none;
}

.nav{
       
    /* font-family: 'Permanent Marker', cursive; */
    font-family: 'Noto Sans KR', sans-serif;

}

/* Start Display */
#start {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    /* font-family:  'Times New Roman', Times, serif; */
    font-family: 'Noto Sans KR', sans-serif;

    font-weight: bold;
    font-size: 55px;
    text-align:center;
    color:whitesmoke; 
    padding-bottom: .9rem;
}

h2 {
    text-align: center;
    /* font-family: monospace; */
    margin-left: 20px;
    font-size: 30px;
    color: whitesmoke; 
    padding-bottom: .9rem;

}

#challenges {
    color: whitesmoke; 
    /* font-family: monospace; */
    text-align: center;
    font-size: 30px;
}

.container {
   
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; ;
    margin: auto;
    position: relative;

    width: 500px;
    height: 500px;
    /* color: linear-gradient(to right, rgb(61, 60, 59), rgb(7, 7, 7)); */
}


button{
    /* font-family: monospace; */
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    margin-top: 10px;
    margin-left: 25px;
    padding: 20px;
}

/* Hide Display */
#game {
    display: none;
    color: whitesmoke; 
}

#result {
    display: none;
    color: whitesmoke; 
}

#endGame {
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
    color: whitesmoke; 
}

#timer{
    /* font-family: monospace; */
    font-family: 'Noto Sans KR', sans-serif;
    color:red;
    font-size: large;
    text-align: right;
    position: absolute;
    top: 30px;
    right: 45px;
}

#highScorePage{
    display: none;
    width: 50%;
    border-bottom-style: groove;
    padding-bottom: .3rem;
    margin: auto;
    color: whitesmoke; 
}

#highScoreCont{
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke; 
}
#highScore-header{
    display:flex;
    justify-content: space-around;
    border-bottom-style: outset;
    margin-bottom: .5rem;
    color: whitesmoke; 
}
#Score{
    float: right;
    padding-right: 0;
    margin-right: 60px;
    color: whitesmoke; 
}
  
#highScoreInitials{
    display: inline-block;
    margin-left: 60px;
    color: whitesmoke; 
}


#highScorePage{
    display: none;
    color: whitesmoke; 
}

#endChallenge{
    display: none;
    color: whitesmoke; 
}